<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Document</title>
</head>
<body>
  <p th:text="'Hi 👋' + ${user.firstName} + '!'"></p>
  <p th:text="'Welcome to ' + ${applicationName} + ', please click the link below so we can verify your email.'"></p>
  <a th:href="@{${verificationLink}}">Verify Email</a>
</body>
</html>